<h1>liste of all container</h1>


<table>
        <tr>
                <th>Id of container</th>
                <th> Container color</th>
                <th> Container Model</th>
                <th> Id of containership</th>
        </tr>

                {% for row in data %}
        <tr>
                <td>{{ row.getId() }}</td>
                <td>{{ row.getColor() }}</td>
                <td>{{ row.getContainerModelId() }}</td>
                <td>{{ row.getContainershipId() }}</td>

        </tr>
                {% endfor %}


</table>


