<h1> Container {{ data.getId() }} </h1>

<h2> Color {{ data.getColor() }}</h2>
<H3> Container Model ID {{ data.getContainerModelId() }}</H3><br>
<H3>Containership id {{ data.getContainershipId() }}</H3><br>



